html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'NanumSquareNeo', 'NanumSquareNeoLight',
  'NanumSquareNeoBold', 'NanumSquareNeoExtraBold', 'NanumSquareNeoHeavy', sans-serif;
  background: linear-gradient(108deg, #D3E5FF 8.26%, #E3E0FD 91.74%);
  font-size: max(13px,1.5vh);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
